body {
  writing-mode: vertical-rl;
  font-size: 60px;
  line-height: 1;
}

span {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1));
  /* background: linear-gradient(rgba(0, 0, 200, 0) 0%, rgba(0, 0, 200, 1) 50%, rgba(0, 0, 200, 1)); */
  transform: translateY(50%);
  transition: transform 500ms;
}

span[hidden]::after {
  display: initial;
  transform: translateY(-50%);
}

span:nth-child(2)::after {
  transition-delay: 100ms;
}

span:nth-child(3)::after {
  transition-delay: 200ms;
}

span:nth-child(4)::after {
  transition-delay: 300ms;
}

span:nth-child(5)::after {
  transition-delay: 400ms;
}

span:nth-child(6)::after {
  transition-delay: 500ms;
}

span[hidden]:nth-child(1)::after {
  transition-delay: 500ms;
}

span[hidden]:nth-child(2)::after {
  transition-delay: 400ms;
}

span[hidden]:nth-child(3)::after {
  transition-delay: 300ms;
}

span[hidden]:nth-child(4)::after {
  transition-delay: 200ms;
}

span[hidden]:nth-child(5)::after {
  transition-delay: 100ms;
}

span[hidden]:nth-child(6)::after {
  transition-delay: 0ms;
}
